.recommended {
	color: #ffffff;
	background-color: #EC787A;
	border-radius: 15px;
	border: 2px solid #000000;
	font-size: 1em;

}

.blocks {
	background-color: #B6BCC8;
}

.blocks-blue {
	background-color: #86A9C6;
	color: #fff;
}

.card-header {
	background-color: #8BAAAD;
}

.card-header .btn-link {
	color: #fff;
}

body {
	background-color: #485460;
}

#header {
    width: 100%;
    text-align: center;
}

td {
	 white-space: nowrap;
}