body {
	background:#f1f9f9;
}
.bg-secondary-light {
	background-color: #f7f7f7!important;
}
.bg-secondary-light:hover {
	background-color: #eaeaea!important;
}
.wb-centered {
  position: fixed;
  left: 50%;
	top: 1%;
  /* bring your own prefixes */
  transform: translate(-50%);
}
