body {
	background:#f1f9f9;
}
.bg-secondary-light {
	background-color: #f7f7f7!important;
}
.bg-secondary-light:hover {
	background-color: #eaeaea!important;
}
.wb-centered {
  position: absolute;
  left: 50%;
	top: 10%;
  /* bring your own prefixes */
  transform: translate(-50%);
}

.navbar-collapse {
		flex-grow: 0;
}
